.bat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button{
        padding: 0.5rem 1rem;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: #555;
        }
        &:active{
            background-color: #111;
        }
    }
}