.nav-bar{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    h2{
        font-size: 1.5rem;
        color: #333;
    }
    p{
        font-size: 1rem;
        color: #333;
        cursor: pointer;
    }
}